{% set classes %}{% if active %}block py-2 pr-4 pl-3 text-indigo-700
hover:rounded-lg hover:bg-nord-6 hover:text-indigo-300{% else %}block py-2 pr-4
pl-3 text-black hover:rounded-lg hover:text-indigo-300 hover:bg-opacity-40{% endif
%}{% endset %}

<li>
  <a href="{{ url }}" class="{{ classes }}">{{ title }}</a>
</li>
