{#
/**
 * @file
 * A Twig template for displaying user comments.
 *
 * Available variables:
 * - total_comments: The total number of comments.
 * - last_comments: A list of the latest 5 comments. Each comment is an object with the following properties:
 * - node_title: The title of the node on which the comment was made.
 *  - subject: The subject of the comment.
 *  - created: The date when the comment was created.
 * - total_words: Total of words in all comments.
 *
 */
#}

<div class="comments-block">
  <h3><span style="font-family: 'Segoe UI Symbol';">💬️</span> {{ 'Total Comments: @total_comments'|t({'@total_comments': total_comments}) }}</h3>
  <h3><span style="font-family: 'Segoe UI Symbol';">🔤️</span> {{  'Total Words: @total_words'|t({'@total_words': total_words})  }}</h3>

  <section style="border-top: 2px solid indigo; padding: 1em 0 2em;">
    <h3 class="text-2xl">{{ 'Last Comments'|t }}</h3>
    <ul>
      {% for comment in last_comments %}
        <li>
          {% embed 'alps_trips:at-card' with {
            'title': comment.node_title,
            'description': comment.subject
          } %}
            {% block bottom %}
              <small>{{ comment.created }}</small>
            {% endblock %}
          {% endembed %}
        </li>
      {% endfor %}
    </ul>
  </section>



</div>
